$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

// bower:scss
@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss';
// endbower

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;

    /* Make the masthead heading the same height as the navigation */
    h3 {
        margin-top: 0;
        margin-bottom: 0;
        line-height: 40px;
        padding-bottom: 19px;
    }
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
    .btn {
        font-size: 21px;
        padding: 14px 24px;
    }
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
    p + h4 {
        margin-top: 28px;
    }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }

    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }

    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

.container{
    width: 980px;
}

.header-box{
    background: url(../images/header.jpg) no-repeat;
    background-size: cover;
    min-height: 250px;
    margin-bottom: 10px;
}

.tools{
    padding: 10px 20px;
    li{
        width: 40px;
        .icon{
            width: 30px;
            height: 30px;
        }
        .reset{

        }
    }
}

.tasks{
    padding: 40px 0px;
    list-style: none;
    float: left;
    width: 20%;
    li{
        border-top: solid 1px #ccc;
        border-left: solid 1px #ccc;
        vertical-align: middle;
        padding: 5px 0px;
        height: 80px;
        text-align: center;
        text-transform: uppercase;        
        &:last-child{
            border-bottom: solid 1px #ccc;
        }
    }
}
.day{
    &.special{
        color: #0f7f0a;
    }
}

.task{
    width: 100px;
    height: 70px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    text-indent: -9999px;
    display: block;
    &.comida{
        background-image: url("../images/tasks/comida.jpg");
    }
    &.escovar_dentes{
        background-image: url("../images/tasks/dentes.jpg");
    }
    &.nao_brigar{
        background-image: url("../images/tasks/nao-brigar.jpg");
    }
    &.nao_chorar{
        background-image: url("../images/tasks/nao-chorar.jpg");
    }
}

table.itens {
    float: right;
    width: 80%;
    thead{
        font-size: 1.5em;
        tr{
            border-top: solid 1px #ccc;
            border-bottom: solid 1px #ccc;
            th{
                width: 14.28%;
                height: 40px;
                border-right: solid 1px #ccc;
                text-align: center;
                text-transform: uppercase;

                &:first-child{
                    border-left: solid 1px #ccc;
                }

            }
        }
    }
    tbody{
        tr{
            border-top: solid 1px #ccc;
            border-bottom: solid 1px #ccc;
            td{
                width: 14.28%;
                height: 80px;
                padding: 0px 5px;
                border-right: solid 1px #ccc;
                text-align: center;
                text-transform: uppercase;
                &:first-child{
                    border-left: solid 1px #ccc;
                }

            }
        }
    }
}

.icon{
    width: 67px;
    height: 70px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    display: block;
    text-indent: -9999px;

    &.icon-prize{
        background-image: url("../images/prize.png");
    }
    &.icon-fail{
        background-image: url("../images/fail.png");
    }
    &.icon-award{
        background-image: url("../images/award.png");
    }
}


